body {
	font-family: Poppins;
	background-color: forestgreen;
}

button {
	font-family: Poppins;
	display: flex;
	justify-content: center;
    border-radius: 3px;
}

.header {
	display: flex;
	justify-content: space-around;
	margin: 0.5rem;
}

input {
	font-family: Poppins;
}

h1 {
	display: flex;
	justify-content: center;
	font-size: 4.5rem;
	font-weight: 800;
	margin: 1rem;
	background-color: red;
}

h2 {
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 5px;
	display: flex;
	justify-content: center;
}
.dealer-container,
.player-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 2em;
	border: 5px solid black;
}

.dealer-bottom-card,
.dealer-top-card,
.player-bottom-card,
.player-top-card {
	border: 5px solid black;
	margin: 10px;
}

/* source of card flip animation: https://www.w3schools.com/howto/howto_css_flip_card.asp */

.flip-dealer-card-bottom {
	background-color: transparent;
	width: 110.26px;
	height: 150px;
	perspective: 1000px;
}

/* This container is needed to position the front and back side */
.dealer-card-bottom {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-dealer-card-bottom:active .dealer-card-back {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.dealer-card-back,
.dealer-card-front {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the outside of card */
.dealer-card-back {
	z-index: 1;
	margin-top: 10px;
	height: 150px;
	width: 113px;
	background-color: blue;
	color: black;
}

/* Style the inside of card */
.dealer-card-front {
	/* background-image: ; */
}

.user-actions {
	display: flex;
	justify-content: center;
}

img {
	padding: 10px;
	height: 150px;
}

.winner {
	display: flex;
	justify-content: center;
}

/* ---------------------------------- MODAL ---------------------------------- */

#modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
	font-family: 'Poppins';
}

#modal-textbox {
	background-color: beige;
	height: 1020px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: 'Poppins';
}

#modal-footer {
	text-align: right;
}

.modal-buttons {
	border: none;
	outline: none;
	border-radius: 3px;
	font-family: 'Poppins';
}
